body{ margin: 0;
    background-color: rgb(230, 238, 245);
}
.menu{ background-color: rgb(45, 70, 212); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 70px;
}
.Lista{ list-style: none; 
    display: flex; 
    flex-direction: row; 
    gap: 50px; 
    font-size: 17px; 
    margin-left: -100px;
    margin-top: 50px; 
    color: white;
    cursor: pointer;
   }
img{
    width: 160px;
    margin-left: 3px;
    margin-top: -40px;
}
.sair{
    margin-left: 639px
}
input{
    margin-left: -4px;
    margin-top: -11px;
    border-radius: 5px;
    border-top-width: 6px;
    border-top-style: solid;
    border-left-width: 6px;
    border-left-style: solid;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-right-width: 32px;
    border-right-style: solid;
    border-color: rgb(7, 7, 138);
    height: 30px;
}
.canto{
    background-color: white;
    width: 300px;
    height: 850px;
    border-radius: 35px;
    border-left-width: 17px;
    border-left-style: solid;
    border-top-width: 21px;
    border-top-style: solid;
    border-color: rgb(230, 238, 245);
}
.sra{
    width: 250px;
    margin-left: 24px;
    margin-top: 24px;
}
p{
    color: rgb(45, 70, 212);
    font-family:sans-serif;
    margin-left: 27px;
}
.info{
    color: rgb(114, 111, 111);
}
.Lista2{
    list-style: none;
    margin-left: 18px;
    gap: 10px;
}